.hero-page {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.hero-page p {
    position: absolute;
    left: 20%;
    text-align: center;
    color: #1AFFD5;
    font-size: 62px;
    letter-spacing: 4px;
}

.hero-page .img-wrapper {
    display: flex;
    flex-flow: column wrap;
    border-radius: 50%;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 600px;
}

.hero-page .first-image {
    align-self: center;
    width: 95%;
    height: 100%;
    border-radius: 25%;
    margin-right: 6px;
    box-shadow: 1px 2px 8px 5px rgba(46, 58, 61, 0.9);
}

.hero-page .second-image {
    align-self: center;
    width: 95%;
    height: 100%;
    border-radius: 25%;
    margin-left: 6px;
    box-shadow: 1px 2px 8px 5px rgba(46, 58, 61, 0.9);
}