.paw-wrapper {
    position: absolute;
}

.paw {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    ;
    -webkit-transition: all .5s cubic-bezier(0, .73, .73, 1.52);
    transition: all .5s cubic-bezier(0, .73, .73, 1.52);
}

.paw.huge {
    width: 1000px;
    height: 1000px;
}

.paw::before,
.paw::after {
    position: absolute;
    z-index: 10;
}

.paw::before {
    content: '';
    display: block;
    width: 22%;
    height: 32%;
    background: #941D76;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    left: 25%;
    top: 10%;
    transform: rotate(-15deg);
}

.paw::after {
    content: '';
    display: block;
    width: 22%;
    height: 32%;
    background: #941D76;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    right: 25%;
    top: 10%;
    transform: rotate(15deg);
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.inner::before,
.inner::after {
    position: absolute;
    z-index: 10;
}

.inner::before {
    content: '';
    display: block;
    width: 18%;
    height: 30%;
    background: #941D76;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    left: 10%;
    top: 35%;
    transform: rotate(-30deg);
}

.inner::after {
    content: '';
    display: block;
    width: 18%;
    height: 30%;
    background: #941D76;
    ;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    right: 10%;
    top: 35%;
    transform: rotate(30deg);
}

.bottom {
    width: 48%;
    height: 30%;
    background: #941D76;
    border-radius: 70% 70% 50% 50% / 90% 90% 50% 50%;
    position: absolute;
    bottom: 12%;
    left: 26%;
}

.bottom::before {
    content: '';
    position: absolute;
    bottom: -11%;
    left: 0;
    background: #941D76;
    width: 50%;
    height: 75%;
    border-radius: 55% 105% 68% 79% / 60% 60% 29% 50%;
    z-index: 1000;
}

.bottom::after {
    content: '';
    position: absolute;
    bottom: -11%;
    right: 0;
    background: #941D76;
    width: 50%;
    height: 75%;
    border-radius: 105% 55% 79% 68% / 60% 60% 50% 29%;
    z-index: 1000;
}